<div>
  <h1 style='text-align: center; margin-bottom: 2rem'>Edit <%= current_user.first_name %> <%= current_user.last_name %></h1>
  <div class='form form-withoutlogo'>
    <div>
      <div class='profile-img-normal'>
        <%= image_tag 'avatar.png', class:'profile-img' %>
      </div>
    </div>
    <div class='form__fields'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form__field-data">
          <div class='form__field-position' data-controller='empty-input'>
            <%= f.text_field :first_name, autocomplete: "first-name", class:"form__field", data: { action: "change->empty-input#update", target: "empty-input.input" } %>
            <%= f.label :first_name, class:"form__label", data: { target: "empty-input.label" } %>
          </div>

          <div class='form__field-position' data-controller='empty-input'>
            <%= f.text_field :last_name, autocomplete: "last-name", class:"form__field", data: { action: "change->empty-input#update", target: "empty-input.input" } %>
            <%= f.label :last_name, class:"form__label", data: { target: "empty-input.label" } %>
          </div>

          <% if false %>
            <div class='form__field-position' data-controller='empty-input'>
              <%= f.email_field :email, autocomplete: "email", class:"form__field", data: { action: "change->empty-input#update", target: "empty-input.input" } %>
              <%= f.label :email, class:"form__label", data: { target: "empty-input.label" } %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

          <% end %>

          <div class='form__field-position' data-controller='empty-input'>
            <%= f.password_field :password, autocomplete: "new-password", class:"form__field", data: { action: "change->empty-input#update", target: "empty-input.input" }, style:'margin-bottom: 0;' %>
            <%= f.label :new_password, class:"form__label", data: { target: "empty-input.label" } %>
          </div>
          <i style='color: var(--color-text-muted); font-size: var(--font-size-xs);'>leave blank if you don't want to change it</i><br />

          <div class='form__field-position' data-controller='empty-input'>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form__field", data: { action: "change->empty-input#update", target: "empty-input.input" } %>
            <%= f.label :new_password_confirmation, class:"form__label", data: { target: "empty-input.label" } %>
          </div>

          <div class='form__field-position' data-controller='empty-input'>
            <%= f.password_field :current_password, autocomplete: "current-password", class:"form__field", data: { action: "change->empty-input#update", target: "empty-input.input" } %>
            <%= f.label :current_password, class:"form__label", data: { target: "empty-input.label" } %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Update", class:'btn btn--secondary form__field-btn' %>
        </div>
      <% end %>

      <%#= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:'btn btn--primary' %>
    </div>
  </div>
</div>



