<div class='form'>
  <div class='form__logo'>
    <h1 class='form__logo-icon'>Post<span>It</span></h1>
    <p>Share with your friends what's on your mind!</p>
  </div>
  <div class='form__fields'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class='form__fields-data'>
        <div class='form__field-position' data-controller='empty-input'>
          <%= f.text_field :first_name, autocomplete: "first-name", class:"form__field", data: { action: "change->empty-input#update", target: "empty-input.input" } %>
          <%= f.label :first_name, class:"form__label", data: { target: "empty-input.label" } %>
        </div>

        <div class='form__field-position' data-controller='empty-input'>
          <%= f.text_field :last_name, autocomplete: "last-name", class:"form__field", data: { action: "change->empty-input#update", target: "empty-input.input" } %>
          <%= f.label :last_name, class:"form__label", data: { target: "empty-input.label" } %>
        </div>

        <div class='form__field-position' data-controller='empty-input'>
          <%= f.email_field :email, autocomplete: "email", class:"form__field", data: { action: "change->empty-input#update", target: "empty-input.input" } %>
          <%= f.label :email, class:"form__label", data: { target: "empty-input.label" } %>
        </div>

        <div class='form__field-position' data-controller='empty-input'>
          <%= f.password_field :password, autocomplete: "new-password", class:"form__field", data: { action: "change->empty-input#update", target: "empty-input.input" } %>
          <%= f.label :new_password, class:"form__label", data: { target: "empty-input.label" } %>
        </div>

        <div class='form__field-position' data-controller='empty-input'>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form__field", data: { action: "change->empty-input#update", target: "empty-input.input" } %>
          <%= f.label :password_confirmation, class:"form__label", data: { target: "empty-input.label" } %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:'btn btn--secondary form__field-btn' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form__remember">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    <% end %>

    <hr>

    <div class='form__links'>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

