<div class='form'>
  <div class='form__logo'>
    <h1 class='form__logo-icon'>Post<span>It</span></h1>
    <p>Share with your friends what's on your mind!</p>
  </div>
  <div class='form__fields'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class='form__fields-data'>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class:"form__field" %>

        <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password", class:"form__field" %>

        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "New password confirmation", class:"form__field" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:'btn btn--secondary form__field-btn' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form__remember">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    <% end %>

    <hr>

    <div class='form__links'>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

