<% @post.comments.reverse_each do |comment| %>
  <div class='comment'>
    <div class='profile-img-small'></div>
    <div class='comment-container'>
      <div>
        <%= link_to comment.user.first_name, user_path(comment.user), class:'comment-user' %>
        <%= link_to comment.user.last_name, user_path(comment.user), class:'comment-user' %>
        <span class='comment-date'><%= time_ago_in_words(comment.created_at) %></span>
      </div>
      <div><%= comment.body %></div>
    </div>
    <% if current_user.id == comment.user_id %>
      <%= link_to '', post_comment_path(comment.post, comment), data: { turbo_method: :delete }  %>
    <% end %>
  </div>
<% end %>
