<div class='profile'>
  <div class='profile-data'>
    <div class='profile-img-normal'></div>
    <div class='profile-name' style='display:flex; flex-direction:column; justify-content:center;'>
      <div>
        <%= @user.first_name %>
        <%= @user.last_name %>
      </div>
      <% if signed_in? && !Invitation.reacted?(current_user.id, @user.id) && current_user != @user %>

        <%= link_to 'Add friend', invitations_create_path(ids: {id1: current_user.id, id2: @user.id}), class:'btn btn--secondary' %>

      <% elsif signed_in? && Invitation.confirmed_record?(current_user.id, @user.id) && current_user != @user %>

        <div>
          <span>Friend</span>
          <%= link_to 'Unfriend', invitations_destroy_path(invitation_id: Invitation.find_invitation(@user.id, current_user.id)) %>
        </div>

      <% elsif signed_in? && Invitation.reacted?(current_user.id, @user.id) && !Invitation.confirmed_record?(current_user.id, @user.id) && current_user != @user %>
        <% if Invitation.find(Invitation.find_invitation(current_user.id, @user.id)).user_id == current_user.id %>

          <div class='btn btn--muted'>Pending |
            <%= link_to 'X', invitations_destroy_path(invitation_id: Invitation.find_invitation(current_user.id, @user.id)) %>
          </div>

        <% elsif Invitation.find(Invitation.find_invitation(current_user.id, @user.id)).friend_id == current_user.id %>

          <div style='display: flex;'>
            <%= link_to ("<div>&#10003;</div>").html_safe,
            invitations_update_path(invitation_id: Invitation.find_invitation(current_user.id, @user.id)), class:'btn btn--secondary' %>
            <%= link_to 'X',
            invitations_destroy_path(invitation_id: Invitation.find_invitation(current_user.id, @user.id)), class: 'btn btn--primary' %>
          </div>

        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class='profile-friends'>
  <h3>Friends (<%= @user.friends.count %>) </h3>
  <div class='users_list'>
    <% @user.friends.each do |friend| %>
      <div class='user'>
        <div class="user__data">
          <div class='profile-img-small'></div>
          <div class='user__name'>
            <%= link_to friend.first_name, user_path(friend), style:'color: var(--color-text-header);' %>
            <%= link_to friend.last_name, user_path(friend), style:'color: var(--color-text-header);' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="posts">
  <% @posts.reverse_each do |post| %>
    <%= render post %>
  <% end %>
</div>
