<div class='profile'>
  <div class='profile-data'>
    <div class='profile-img-normal'></div>
    <div class='profile-name'>
      <%= @user.first_name %>
      <%= @user.last_name %>
      <% if signed_in? && !Invitation.reacted?(current_user.id, @user.id) && current_user != @user %>
        <td> <%= link_to 'Invite',
          invitations_create_path(ids: {id1: current_user.id, id2: @user.id})
        %></td>
      <% end %>
    </div>
  </div>
</div>

<div class='profile-friends'>
  <h3>Friends (<%= @user.friends.count %>) </h3>

  <% if @user == current_user && @user.pending_invitations.any? %>
    <h3> Invites: </h3>

    <div class='user-list'>
      <% @user.pending_invitations.each do |invitation| %>
        <div>
          <%= User.find(invitation.user_id).first_name %>
          <%= link_to 'Accept Invitation',
          invitations_update_path(invitation_id: invitation.id) %>
          <%= link_to 'Reject Invitation',
          invitations_destroy_path(invitation_id: invitation.id) %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class='users_list users_list-line'>
    <% @user.friends.each do |friend| %>
      <div class='user user-onprofile'>
        <div class='profile-img-medium'></div>
        <div class='user__name'>
          <%= link_to friend.first_name, user_path(friend), style:'color: var(--color-text-header);' %>
          <%= link_to friend.last_name, user_path(friend), style:'color: var(--color-text-header);' %>
        </div>
        <% if @user == current_user %>
          <%= link_to 'Unfriend',
          invitations_destroy_path(invitation_id: Invitation.find_invitation(@user.id, friend.id)), class:'btn btn--primary' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div id="posts">
  <% @posts.reverse_each do |post| %>
    <%= render post %>
  <% end %>
</div>
