<%= form_with(model: post) do |form| %>
  <div class='post-form'>
    <div class='profile-img-small'>
      <%= image_tag 'avatar.png', class:'profile-img' %>
    </div>

    <%= form.text_field :body, :required => 'required', class:'post-form__input', placeholder:'What is on your mind?' %>

    <div>
      <%= form.submit 'Submit', class:'btn btn--secondary btn--fitted' %>
    </div>
  </div>

  <% if post.errors.any? %>
    <div class='error-message'>
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
