<div id="<%= dom_id(post) %>" class='post'>
  <div class='post__header'>
    <div class='post__user'>
      <div class='profile-img-small'>
        <%= image_tag 'avatar.png', class:'profile-img' %>
      </div>
      <div class='post__user-name'>
        <%= link_to post.user.first_name, user_path(post.user), style:'color: var(--color-text-header);' %>
        <%= link_to post.user.last_name, user_path(post.user), style:'color: var(--color-text-header);' %>
        <div class='post__date'>
          <%= time_ago_in_words(post.created_at) %>
        </div>
      </div>
    </div>
    <div data-controller="dropdown" class="dropdown">
      <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class='dropdown__button'>&#8942;</button>

      <div
        data-dropdown-target="menu"
        class="dropdown__menu hidden"
      >
        <% if post.user == current_user %>
          <div data-action="dropdown#toggle"><%= link_to "Edit", edit_post_path(post), class:'dropdown__menu-link' %></div>
          <div data-action="dropdown#toggle"><%= link_to "Delete", post, data: { turbo_method: :delete }, class:'dropdown__menu-link' %></div>
        <% end %>
        <a data-action="dropdown#toggle" class='dropdown__menu-link'>Report</a>
      </div>
    </div>
  </div>


  <div class='post__body' data-controller='read-more' data-read-more-toggle-class='post__body-text'>
    <div class='post__body-text' data-read-more-target='text'><%= post.body %></div>
    <% if post.body.length > 430 %>
      <div class='help-link' data-action="click->read-more#update" data-read-more-target='button'>Read more...</div>
    <% end %>
    <div style='display: flex; gap: .5rem;'>
      <% if post.likes.count > 0 %>
        <div class='post__body-likes'>
        <%= post.likes.count %>
        <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
        </div>
      <% end %>
      <% if post.comments.count > 0 %>
        <div class='post__body-likes'>
          <%= post.comments.count %>
          <%= (post.comments.count) == 1 ? 'Comment' : 'Comments'%>
        </div>
      <% end %>
    </div>
  </div>

  <div class='post__footer'>
    <div class="post__action">
      <% if signed_in? && !Like.liked?(current_user.id, post.id) %>
        <%= link_to image_tag('like-black.png', width: 25, height: 25), likes_create_path(ids: {id1: current_user.id, id2: post.id}, anchor: dom_id(post)) %>
      <% elsif signed_in? && Like.liked?(current_user.id, post.id) %>
        <%= link_to image_tag('like-green.png', width: 25, height: 25), likes_destroy_path(like_id: Like.find_like_id(current_user.id, post.id), anchor: dom_id(post)) %>
      <% end %>
    </div>
    <div class='post__line'></div>
    <div class="post__action">
      <%= link_to image_tag('comment.png', width: 25, height: 25), post %>
    </div>
  </div>

</div>
