<div id="<%= dom_id(post) %>" class='post'>
  <div class='post__header'>
    <div class='post__user'>
      <div class='profile-img profile-img-small'></div>
      <div class='post__user-name'>
        <%= link_to post.user.first_name, user_path(post.user), style:'color: var(--color-text-header);' %>
        <%= link_to post.user.last_name, user_path(post.user), style:'color: var(--color-text-header);' %>
        <div class='post__date'>
          <%= time_ago_in_words(post.created_at) %>
        </div>
      </div>
    </div>
    <div class='post__options'>&#8230;</div>
  </div>


  <div class='post__body'>
    <%= post.body %>
    <% if post.likes.count > 0 %>
      <div class='post__body-likes'>
        <%= post.likes.count %>
        <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
      </div>
    <% end %>
  </div>

  <div class='post__footer'>
    <% if signed_in? && !Like.liked?(current_user.id, post.id) %>
      <%= link_to 'Like', likes_create_path(ids: {id1: current_user.id, id2: post.id}, anchor: dom_id(post)), class:'post__action' %>
    <% elsif signed_in? && Like.liked?(current_user.id, post.id) %>
      <%= link_to 'Unlike', likes_destroy_path(like_id: Like.find_like_id(current_user.id, post.id), anchor: dom_id(post)), class:'post__action post__action-clicked' %>
    <% end %>
    <div class='post__line'></div>
    <%= link_to "Comment", post, class:'post__action' %>
  </div>

</div>
