<% if current_user %>
  <header class='navbar'>
    <h1>Post<span>It</span></h1>
    <input type='checkbox' role='button' id='hamburger' class='navbar__checkbox visually-hidden'></input>
    <label class='navbar__toggle' for='hamburger'>
      <span class='navbar__toggle-icon' aria-hidden='true'>
      </span>
      <span class='visually-hidden'>Menu</span>
    </label>
    <div class='navbar__links'>
      <%= link_to image_tag('home.png'), root_path, class:'navbar__link' %>
      <%#= link_to 'Users', users_path, class:'navbar__link' %>
      <%= link_to image_tag('search.png'), search_path, class:'navbar__link' %>
      <div>
        <%= link_to image_tag('bell.png'), notifications_path, class:'navbar__link' %>
        <% if current_user.pending_invitations.any? %>
          <span class='notifications-count'><%= current_user.pending_invitations.count %></span>
        <% end %>
      </div>
      <%= link_to image_tag('user.png'), user_path(current_user), class:'navbar__link' %>
      <%= link_to image_tag('settings.png'), edit_user_registration_path, class:'navbar__link' %>
      <a class='navbar__link'>
        <%= link_to image_tag('logout.png'), destroy_user_session_path, method: :delete  %>
      </a>
    </div>
  </header>
<% end %>
