<!DOCTYPE html>
<html>
  <head>
    <title>PostIt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <% flash.each do |type, msg| %>
        <% if alert %>
          <div class='error-message' data-controller="removals">
            <%= msg %>
            <div data-action="click->removals#remove" class="error-message__close">&times;</div>
          </div>
        <% elsif notice %>
          <div class='error-message error-message-green' data-controller="removals">
            <%= msg %>
            <div data-action="click->removals#remove" class="error-message__close">&times;</div>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
